<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petroschurch.petros"
    android:versionCode="21"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET"/>  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BookSelectActivity" />
        <activity android:name=".activity.ChapterSelectActivity" />
        <activity android:name=".activity.MarkContentActivity" />
        <activity android:name=".activity.SettingActivity" />
        
        <activity android:name="com.umeng.fb.ConversationActivity"/>
		<activity android:name="com.umeng.fb.ContactActivity"/>
		<activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
		
		<service
		    android:name="com.umeng.common.net.DownloadingService"
		    android:exported="false"
		    android:process=":DownloadingService" >
		</service>
        
        <meta-data android:name="UMENG_APPKEY" android:value="51d0cf5856240ba5ff0c82eb" />
		<meta-data android:name="UMENG_CHANNEL" android:value="PetrosChurch" />
    </application>

</manifest>
